<!-- Site wrapper -->
<div class="wrapper">

<app-navbar></app-navbar>
<app-aside></app-aside>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-left-aside></app-left-aside>

</div>
<!-- ./wrapper -->
